
/* UNIVERSAL */
header {
  	background-image:url("images/cover.jpg");
		background-repeat:repeat-x;
		max-width: 1500px;
}

body { 
	background: #E5E5E5;
	font-family: "Arial";
}

nav {
	display: inline-block;
	vertical-align: top;
	width: 15%;
	padding-top: 5em;
	background-color: #991D36;
	height: 2200px;
}

nav ul {
  list-style-type: none;
  margin: 12px;
  padding-bottom: 12px;
  padding-top: 12px;
}

nav ul li {
	padding-bottom: 15px;
}

nav ul li a {
	font-size: 23px;
	color:white;
	text-decoration: none;
}

h1 {	
	text-align: center;
	vertical-align: top; 	
}

h2 {
	font-family: Menlo; 
	display: inline-block;
	text-align: center;
	width: 70%;

}

p {
	margin: 1em;
}

a:visited {
	color: green;
}

/* INDEX PAGE */
main {
	display: inline-block;
	vertical-align: top;
	max-width: 70%;
	padding: 3px;
}

fieldset	{
	background: #f9ebf2;
}

.formitem {
	padding: 10px;
}

#apply_intro {
	margin: 1em;
	padding: 5px;
}

#apply_intro:hover { 
	background: gold; 
}

#button {
	padding: 20px;
	background: #858783;
}

article {
	background: #858783;
	text-align: center;
	padding: 10px;
}

/* INDEPTH PAGE */

#pay {
	vertical-align: top;
	display: inline-block;
	text-align: center;
}

table {
	display: inline-block;
	vertical-align: top;
	max-width: 70%;
}

table .oddcell {
	background-color: white;
}

/* ABOUT PAGE */

#about-page {
 	display: inline-block;
	text-align: center;
	background-color: beige;
	width: 40%;
}

#about-page div ul {
	list-style: none;
}

#about-page div ol {
	list-style: none;
}

blockquote	{
	display: inline-block;
	width: 70%
}

#screenshots-1 {
	vertical-align: top;
	display: inline-block;
	width: 29%;
	padding: .5em
}

#screenshots-1 img {
	padding: .5em
}



/* RESPONSIVE DESIGN */
@media screen and (max-width: 400px) {
  body {
    font-size: .5em;
  }
}

@media screen and (max-width: 400px) {
  h1 {
  	background-color: green;
  }
}

@media screen and (max-width: 400px) {
  #pay {
  	font-size: .5em;
  }
}

/* STILL NEEDS WORK */
@media screen and (max-width: 400px) {
  nav ul li a {
   	font-size: 10px;
   	margin: 1px;
  	padding-bottom: 1px;
  	padding-top: 1px;
  }
}        



